<head>
	<!-- <link rel="stylesheet" type="css" href="/../../bootstrap/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<body>

	<div class="jumbotron text-center" style="margin-bottom:0">
	  <h1>Il faut trouver un titre</h1>
	  <p>Bienvenu sur l'application web qui permet de prendre contact avec des experts afin qu'ils interviennent dans votre formation!</p> 
	</div>
	
	
	
	<div class="container" style="margin-top:30px">
		<div class="row">
			<div class="col-sm-4">
      
				<h3>Liens</h3>
				<p>Liens qui peuvent vous être utiles :</p>
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a class="nav-link" href="http://ead-polytech.univ-savoie.fr/">EAD Polytech</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="https://www.univ-smb.fr/">Université Savoie Mont Blanc</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
	


</body>


