
<!DOCTYPE html>

<html> 

   <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="C:/wamp64/www/LessonManagement/assets/css/formulaire.css" />
	<title> formulaire de demande </title>
   </head> 

  <body> 
  
  <form action="formulaireDemande.php" method="post" >

<fieldset>
<legend> la demande : </legend>
   <p> titre de la demande: </p>
   
 
   <input type="titre" name="titre" size="20" 
   maxlength="40" value="titre" id="titre" />
  
</fieldset>

<fieldset>
 <legend> Objet de la demande :</legend>
  <label for="description"> Description :</label>
   <textarea name="description" id="description" cols="20" rows="4" required>
   </textarea>

</fieldset>

 <p>
 <input type="submit" value="Envoyer" />
 <input type="reset" value="Annuler" />
 </p>

</form>
  
  
  
  </body>

</html>
















