<!DOCTYPE HTML>

<html>

  <head>
    <title></title>
    <meta content="info">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lesson_style.css" />
  </head>
  
  <body>
  
  <div id="fond">
  
    <div id="titre">
      <span>Gestion des demandes d'intervention</span>
    </div>
  
    <div id="menu">
      <ul id="lemenu">
      <li><a href="#page=0" class="btn_menu encours">Accueil</a></li>
      <li><a href="#page=1" class="btn_menu">Demandes</a></li>
      <li><a href="#page=2" class="btn_menu">Etat</a></li>   
      </ul>
    </div>
  
    <div id="contenu"></div>
  
    <div id="pied">
      <span>Polytech Annecy-Chambéry</span>
    </div>
 
  </div>
  
  </body>
</html>  
  
  
  
