<head>
    <link href="bootstrap/css/bootstrap.min.css">
</head>

<nav class="navbar-header">

    <!-- DECONNEXION -->
    <?php if(session_status() == PHP_SESSION_ACTIVE): ?>
        <button class="btn btn-default" type="submit">
            <a href="../php/logout.php">Deconnexion</a>
        </button>

    <!-- CONNEXION -->
    <?php else: ?>
        <button class="btn btn-default" type="submit">
            <a href="../../index.html">Connexion</a>
        </button>
        
    <?php endif ?>
</nav>