<head>
	<!-- <link rel="stylesheet" type="css" href="/../../bootstrap/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<footer style="background-color:lightgrey;">

<!-- Footer Elements -->
  <div class="container">
	<br/>

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="usmb.png" class="rounded">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
       
      </div>
      <!--Grid column-->
      
       <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="polytech.jpg" class="rounded">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> 
    <a href="https://www.polytech.univ-savoie.fr/">&copy Polytech Annecy-Chambery</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->    